<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask App{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('admin_routes.admin_dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('admin_routes.view_projects') }}">View Projects</a></li>
                <li><a href="{{ url_for('admin_routes.verify_users') }}">Verify Users</a></li>
                <li><a href="{{ url_for('admin_routes.admin_logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>
